body { background-color: #f6f6f6;  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; color: #333; }
	
	
/*body {
	
    text-align: center;
	font: 11px verdana, arial, sans-serif;
	color: #695F4C;
	padding-bottom: 10px;
} */

/** layout **/
#wrapper {
	text-align: left;
    margin: 20px auto;
	width: 800px;
	
  position: relative;
}

#innerbox {
  background: #BDDDB5 ;
  /*height: 280px;*/
  color:black;
  font-size:12px;
  margin-bottom:2px;
}


#innerbox1 {
  background: #BDDDB5 ;
  /*height: 160px;*/
  color:black;
  font-size:12px;
  margin-bottom:2px;
}


#header {
  background: #8EC581;
  
  margin-bottom:2px;
  font-family:Verdana;
  font-size:10pt;
  color:white;
  font-weight:bold;
  text-align:center;
}


#footer {
  background: #8EC581;
   
  margin-bottom:2px;
  font-family:Verdana;
  font-size:10pt;
  color:navy;
  font-weight:;
  text-align:center;
}


INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Helvetica
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: verdana,tahoma,arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: verdana,tahoma,arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
SELECT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: verdana,tahoma,arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}


a:active {
	color: blue ; /* active link color */
	text-decoration:none;
}

a:link {
	color: navy ; /* link color */
}

a:visited {
	color:  ; /* visited link color */
}

